{% extends "OroUIBundle:actions:index.html.twig" %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'fm-contract-grid' %}
{% set pageTitle = 'Contracts' %}

{% block navButtons %}
    {% if is_granted('fm_contract_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('fm_contract_create'),
                'entity_label': 'Contract'
            }) }}
        </div>
    {% endif %}
{% endblock %}
